
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html { 
    padding: 0;
    margin: 0;    
    min-height: 100%; 
    overflow: hidden;
    }

body.nomouse, body.nomouse * {cursor: none;}

body {
    background: #000;   
    overflow: hidden;
    width: 100%; height: 100%; position:absolute;
    color: white;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

html.scroll body, html.scroll {
    overflow: visible;
}
/*---------------------------------------------------------------------------------------- TYPO */


body, html { 
    font-family: 'WorkSans', sans-serif; 
    font-size: 17px;
    line-height: 1.3;
}
p {
    margin: 0;
    }

h1 { 
    font-size: 30px;
    margin: 0 0 .25rem;
    line-height: 1.1;
    letter-spacing: .025em;
    text-transform: uppercase;
    }
.music,
.author{
    font-style: italic;
    font-weight: 500;
    }
    
/*---------------------------------------------------------------------------------------- VIDEO PLAYER */
#wait {
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: black;
    }
    #wait p { position: absolute; left: 100px; top: 200px; font-size: 200%}

#video_container {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    }
    #video_container.visible {visibility: visible;}
    #video video {
        max-width: 100%;
        position: absolute;
        bottom: 0;
        }

#title{
    background: rgba(0,0,0,1);
    z-index: 50;
    position: absolute;
    letter-spacing: 0.02em;
    top:0; right:0; bottom: 0; left: 0;
    padding: 200px 100px 100px 100px;
    font-size: 120%;
    transition:opacity 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 0;
    }
    #title.visible { opacity: 1; z-index: 500;}
    #title.theend { font-size: 100%}
    #title h3 {font-size: 80%; max-width: 30em}
    #theend { position: absolute; top:200px 100px 100px 60px; margin: -2em 0 0;  visibility: hidden; font-size: 70%;}
    .theend #theend { visibility: visible;}
    #title.theend h3 { display: none}
    #title.theend h1 { margin-top: 0;}



#overlay {
    background: black;
    z-index: 200;
    position: absolute;
    top:0; right:0; bottom: 0; 
    width: 100%;
    left: -5000px;
    transition:opacity 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 0;
    }
    #overlay.visible { opacity: .6; left:0;}

#message {
    background: black; color:white; width: 200px; position: absolute; bottom:-200px; left:50%; margin: -20px 0 0 -100px;
    text-align: center; padding: 20px;
    z-index: 200;
    transition:all 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 0;
    line-height: 1.5;
    }
    #message.visible { opacity: 1; bottom: 80px;}

/*---------------------------------------------------------------------------------------- LIST */
#footer,
.listtitle,
.listinfo  {
    margin: 4em;    
}
.listtitle > *{
    max-width: 30em;
    margin-bottom: 2em
}
.listtitle footer{
    max-width: 100%
}
.datatata{
    font-size: 2em; 
}
.totop {
    margin: 4em 0 
}
.totop a { border:none; font-size: 2em}
.listitem { 
    margin-bottom: 8em
}
.listinfo {
    max-width: 30em;
}
.listinfo p { margin-bottom: .5em}
.listinfo .info, .listinfo .header { width: 100% !important}
.listinfo .extra { display: none}
.listgrid {
    width: 80%;
    margin-left: 5px;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;
}
@media (max-width:600px){
    .datatata{
    font-size: inherit; 
}
    #footer,
    .listtitle,
    .listinfo  {
        margin: 4em 2em;    
        }
}
/*---------------------------------------------------------------------------------------- ANIM */

@-moz-keyframes pulse { 
    0%  { opacity: 1}
    66% { opacity: .6}
    68% { opacity: .6}
    100% { opacity: 1}
    }
@-webkit-keyframes pulse { 
    /*0% { -webkit-transform: scale(1); } 
    66% { -webkit-transform: scale(1.1); } 
    68% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } */
    0%  { opacity: 1}
    66% { opacity: .6}
    68% { opacity: .6}
    100% { opacity: 1}
    }


/*---------------------------------------------------------------------------------------- GRID */

.layouthelper {
    color: rgba(255,255,255,.4);
    text-shadow:3px 0px black;
}
.imageid {
    color: rgba(255,255,255,.4);
    text-shadow:3px 0px black;
    position: relative; left: 100px;
}
.layouthelper , .imageid{ display: none}


#grid{
    position: absolute;
    top: 0px; right:0px; bottom: 0px; left: 0px;
    }

    .video { 
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        perspective: 1000;
        position: relative;
        height: 16.6666%;
        width: 16.6666%;
        float: left;
        background: rgba(255,255,255, .1);
        border: 5px solid black;
        }

        .video > div {
            position: absolute;
            top: 0; right:0; bottom: 0; left: 0;
            background-size: cover;
            background-position: center center;
            overflow: hidden;
            }
        .rank {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: calc(10px * 3 + 3vh);
            color: white;
            z-index: 6;
            line-height: 1.2;
            padding-left: .1em;
            font-weight: 700;
            }
        .video.playing:before{
            content: "";
            position: absolute;
            z-index: 5;
            background: rgba(0,0,0,.4);
            top: 0; right:0; left:0; bottom: 0;
            -webkit-animation:pulse 1s ease-out infinite;
            -moz-animation:pulse 1s ease-out infinite;
        }
        #bg-2 .rank,
        #bg-7 .rank,
        #bg-2 .rank,
        #bg-17 .rank,
        #bg-18 .rank,
        
        #bg-25 .rank,
        #bg-28 .rank { color: black}


/*---------------------------------------------------------------------------------------- DETAIL */

    .griditem { 
        position: absolute;
        width: 16.6666%; 
        border:5px solid black;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        perspective: 1000;
    }
    .next, .prev, .back,
    .gridimage {
        background-position: center center;
        background-size: cover;
        min-height: 16.6666%
    }
    .size2,[size="size2"] { width: 33.3333%;}
    .gridimage.size2, .gridimage[size="size2"] {height: 33.333%}
    .huge,[size="size3"] { width: 50%; }
    .gridimage.huge,.gridimage[size="size3"] {height: 50%}
    .size1,[size="size1"] { width: 16.6666%}

    .prev { background: url(img/prev.png) no-repeat center center; z-index: 888}
    .next { background: url(img/next.png) no-repeat center center; z-index: 888}
    .back { background: url(img/back.png) no-repeat center center; z-index: 888}
    .play:after { 
        content: "Ajouter à la playlist";
        margin: 0 0 .25rem;
        text-transform: uppercase;
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        background:#000 url(img/play.png) no-repeat 20px 50%;
        padding: 10px 20px 7px 60px;
        line-height: 50px;
        }
        .play.playing:after{
            content:"En cours de lecture";
        }

    .griditem p {
        -webkit-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
    }
    .griditem .bio, .griditem .url { display: none !important}
    
    h1, h2, h3 { font-weight: 400; }
    
    
    .music:before { content:' — musique: '; }
    .music:empty:before { content:''; }

    a,
    .url { border-bottom: 2px solid; display: inline-block; text-decoration: none; color: #fff}

        

